
  <% @posts.each_with_index do |p, i| %>
  <div class="post">
    <p class="title"><%= "#{i+1}. "%><img src="/img/grayarrow.gif"><a href=<%= p.link %>><%=" #{p.title}"%></a></p>
    
    <p class="votes"><%= "#{p.post_votes.length} points by " %> <a href="<%= "/users/#{p.user.id}"%>"><%= p.user.name %></a> | <a href=<%="/posts/#{p.id}"%>><%= p.comments.length %> comments</a></p>
  </div>
  <% end %>

